.validationErrors {
    color: red;
    font-weight: bold;
}

/*.navbar-default {
    background-color: #555555;
    border-color: #555555;
    color: white;
}

.navbar-default a hove{
    background-color: #555555;
    border-color: #555555;
    color: white;
}

.navbar-default .navbar-brand {
    color: whitesmoke;
}*/